$mobile1: "min-width: 360px";
$mobile2: "min-width: 400px";
$mobile3: "min-width: 540px";
$tablet1: "min-width: 768px";
$tablet2: "min-width: 992px";
$desktop1: "min-width: 1200px";
$desktop2: "min-width: 1440px";
$desktop3: "min-width: 1920px";


$white: #ffffff;
$black: #000000;
$gray: #999999;
$red: #ff4800;
$orange: #ea7247;
$orange2: #ea9f0e;
$yellow: #ffd200;
$yellow2: #fff6ac;
$green: #33cc66;
$blue: #3366cc;
$blue2: #82c2e2;
$blue3: #34acdf;
$purple: #735bd6;
$purple2: #f6f4fd;
$cherry: #92184c;

