<div class="creation__slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      @@for (var i = 0; i < context.arr.length; i++) {
      <div class="swiper-slide">
        <div class="creation__item">
          <div class="creation__item-img">
            <img src="`+context.arr[i].img+`" alt="">
          </div>
          <div class="creation__item-caption">`+context.arr[i].caption+`</div>
          <div class="creation__item-description">`+context.arr[i].description+`</div>
          <div class="creation__item-author">`+context.arr[i].author+`</div>
          <div class="creation__item-type">`+context.arr[i].type+`</div>
          <a class="creation__item-link" href="`+context.arr[i].link+`"></a>
        </div>
      </div>
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>