<footer class="footer">
  <div class="container">
    <div class="footer__social">
      <div class="footer__social-text">Подпишись и узнай первым о новостях</div>
      @@include("./social.html", {
        context: {
          "linkText": true,
        }
      })
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">© 2010–2021 «МЧС России»</div>
      <div class="footer__text">
        <span>Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ.</span><br>
        <span>При полном или частичном использовании материалов ссылка на mchs.gov.ru обязательна.</span>
      </div>
    </div>
  </div>
</footer>