<ul class="library__list">
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-01.png" alt="">
    </div>
    <div class="library__item-caption">Островок Безопасности</div>
    <div class="library__item-description">Детское издание «Островок безопасности». Главное управление МЧС России по Калужской области. Калужское областное отделение Общероссийской общественной организации «Всероссийское добровольное пожарное общество».</div>
    <div class="library__item-size">PDF, 1.39 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/03_2018 (3).pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/03_2018 (3).pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-02.png" alt="">
    </div>
    <div class="library__item-caption">Супер Спасатель</div>
    <div class="library__item-description">Книжка-раскраска о невероятных приключениях отважного Сергея Петрова и его подружки Лизы. Сергей служит в МЧС Супер-Спасателем! Да-да, именно так называется его должность. Он спасает детей, противостоит коварному Злодею и постоянно выручает Лизу, которая по неосмотрительности то и дело попадает в опасные ситуации.</div>
    <div class="library__item-size">PDF, 2.76 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/UpcYBG5aNi.pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/UpcYBG5aNi.pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-03.png" alt="">
    </div>
    <div class="library__item-caption">Григорий Остер «Тайна предсказаний»</div>
    <div class="library__item-description">Зачем нужны предсказатели? Предсказатели умеют предупреждать об опасностях. Опасности бывают разные. И подстерегают детей повсюду. В школе, например, есть опасность получить двойку, а дома родители могут заставить делать уроки. От таких опасностей уберечься нельзя. Тут уж ничего не поделаешь…</div>
    <div class="library__item-size">PDF, 34.97 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/QRVXQJZ48L.pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/QRVXQJZ48L.pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-04.png" alt="">
    </div>
    <div class="library__item-caption">Игра "Герой нашего времени"</div>
    <div class="library__item-description">Компьютерная игра "Герой нашего времени" для подготовки детей к действиям в условиях чрезвычайных и опасных ситуаций.</div>
    <div class="library__item-size">ZIP, 30.83 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/MZu2YEwZfk.zip" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/MZu2YEwZfk.zip" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-05.jpg" alt="">
    </div>
    <div class="library__item-caption">Серия: Антитеррор. Герои мирного времени.</div>
    <div class="library__item-description">История подвига. Открытый дневник. Автор-составитель А.Г.Леднев</div>
    <div class="library__item-size">PDF, 1.22 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/2oPkrAtCFz (1).pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/2oPkrAtCFz (1).pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-06.jpg" alt="">
    </div>
    <div class="library__item-caption">Серия: Антитеррор. Герои мирного времени.</div>
    <div class="library__item-description">История подвига. Открытый дневник 2 Автор-составитель А.Г.Леднев</div>
    <div class="library__item-size">PDF, 5 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/9lci8PXQ19.pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/9lci8PXQ19.pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-07.jpg" alt="">
    </div>
    <div class="library__item-caption">Серия: Антитеррор. Герои мирного времени.</div>
    <div class="library__item-description">История подвига. Открытый дневник 3 Автор-составитель А.Г.Леднев</div>
    <div class="library__item-size">PDF, 40.68 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/jVBstfEAut.pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/jVBstfEAut.pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-08.png" alt="">
    </div>
    <div class="library__item-caption">Что такое терроризм</div>
    <div class="library__item-description">Научно-популярное ихдание для учащихся 5-11 классов, студентов, их родителей и учителей. Д.В.Колесов, С.В.Максимов, Я.В.Соколов Москва 2012</div>
    <div class="library__item-size">PDF, 6.23 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/ddnQPO35FI.pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/ddnQPO35FI.pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-09.jpg" alt="">
    </div>
    <div class="library__item-caption">Ислам традиционный и вымышленный</div>
    <div class="library__item-description">Научно-популярное издание для учащихся средних и старших классов, студентов вузов, их родителей, учителей и специалистов различных областей Ф.А.Хайдаров Москва 2013</div>
    <div class="library__item-size">PDF, 614.8 Кб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/LlZa1k6vfG.pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/LlZa1k6vfG.pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book">
      <img src="./img/library-10.jpg" alt="">
    </div>
    <div class="library__item-caption">Молодежь и антитеррор</div>
    <div class="library__item-description">Научно-популярное издание для учащихся средних и старших классов, студентов вузов, их родителей, учителей и специалистов различных областей А.Г.Караваев Москва 2013</div>
    <div class="library__item-size">PDF, 1.24 Мб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/13Wp0TdXx5.pdf" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/13Wp0TdXx5.pdf" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-book"></div>
    <div class="library__item-caption">Сведения о взаимодействии с организациями  по тематике безопасности жизнедеятельности за IV квартал 2019 года</div>
    <div class="library__item-description"></div>
    <div class="library__item-size">DOC, 57 Кб</div>
    <div class="library__item-action">
      <a class="library__item-read" href="./docs/vzaimodeystvie_0 (1).doc" target="_blank">Открыть и читать</a>
      <a class="library__item-download" href="./docs/vzaimodeystvie_0 (1).doc" download>Скачать</a>
    </div>
  </li>
  <li class="library__item">
    <div class="library__item-video"></div>
    <div class="library__item-caption">Видеоролик «Меняемся вместе»</div>
    <div class="library__item-description"></div>
    <div class="library__item-action">
      <a class="library__item-watch" href="library-video.html">Смотреть</a>
    </div>
  </li>
</ul>